body {
  width: 100%;
  background: #191765;
  font-family: "Roboto", serif;
  font-style: normal;
}

.bi-list {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 35px;
  padding: 5px 10px;
  color: #fff;
  margin-right: 15px;
}

#logo {
  position: absolute;
  top: 10px;
  left: 0;
  width: 81px;
  height: 16px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
}

#about {
  background: url(images/Ellipse1.svg) left top no-repeat;
  align-items: center;
}

#ab {
  background: url(images/Ellipse2.svg) right top no-repeat;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-right: 10%;
  margin-left: 10%;
}

h1 {
  width: auto;
  height: 55px;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  text-align: center;
}

#job {
  height: 87px;
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  text-align: center;
}

#role {
  width: 327px;
  height: 170px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  text-align: center;
  align-self: center;
  margin-top: -30px;
}

#education {
  display: flex;
  gap: 2%;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
  margin: auto;
  padding: 5px 15px;
}

.title {
  width: 30%;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  clear: none;
}

.par {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #f5f5ff;
}

#langs {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 167.33px;
  line-height: 1.5em;
  align-items: flex-start;
  gap: 12px;
}

#fw {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 30%;
  height: 200.15px;
  line-height: 1.5em;
  align-items: flex-start;
  text-align: right;
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 122px;
  height: 224px;
  line-height: 1.5em;
  align-items: flex-start;
}

#socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 104px;
  text-align: center;
  justify-content: center;
  margin: 35px auto;
}

.sm-icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 15px;
}

.icons {
  align-items: center;
  width: 20px;
  height: 22px;
}

.iconM {
  align-items: center;
  width: 20px;
  height: 17px;
}

.work {
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  color: #a2a3ae;
  width: 77px;
  height: 40px;
  margin: auto;
  text-decoration: none;
}

#work-intro {
  text-align: start;
  left: 25%;
  width: 90%;
  height: 120px;
  border-bottom: solid 1px #646369;
  margin-right: 5%;
  margin-left: 4%;
  display: block;
}

#work-title {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  width: 327px;
  height: 110px;
  margin-top: -2px;
}

#work-grid-one {
  *background: url(images/Ellipse-4.svg) left center no-repeat;
}

#work-grid-two {
  background: url(images/Ellipse-5.svg) left center no-repeat;
}

#work-grid-three {
  background: url(images/Ellipse6.svg) left center no-repeat;
}

#work-grid-four {
  background: url(images/Ellipse-7.svg) right center no-repeat;
}

.project-grid {
  display: grid;
  gap: 24px;
  width: 330px;
  height: 735px;
  grid-template-rows: 235px 469px;
  margin-bottom: 50px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.project-img {
  grid-row: 1;
  width: 327px;
  height: 230px;
}

.img-text {
  grid-row: 2;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 469px;
  align-self: center;
}

.project-title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-align: left;
}

.project-intro {
  width: 330px;
  height: 204px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  gap: 8px;
  width: 320px;
  height: 40px;
  justify-content: space-between;
  list-style-type: none;
  margin-top: -10px;
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  padding: 7px 7px 7px 7px;
  color: #fff;
}

.divider {
  height: 40px;
  border: 1px solid #555;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 89px;
  height: 50px;
  background-color: #7d73fc;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
  border: #7d73fc;
}

button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:disabled {
  background: #2a2b33;
}

button:enabled {
  background: #7d73fc;
}

.cont-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 75%;
  height: 164px;
  margin-left: auto;
  margin-right: auto;
}

.cont1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  height: 35px;
}

.contact-text {
  width: 100%;
  height: 105px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  vertical-align: top;
  margin-top: -25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 292px;
  margin-top: 100px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

#textn {
  width: 100%;
  height: 48px;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #81818c;
  padding: 8px 5px 8px 5px;
  margin-bottom: 15px;
}

#email {
  width: 100%;
  height: 48px;
  font-size: 15px;
  align-items: center;
  color: #191765;
  padding: 10px 5px 12px 5px;
  margin-bottom: 15px;
}

#add {
  width: 100%;
  height: 148px;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
  text-align: left;
  padding: 5px 5px 5px 5px;
}

.button {
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 160px;
  height: 48px;
  background-color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
  margin-top: 30px;
  border: #7d73fc;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
  border-top: solid 1px #3a3837;
  width: 100%;
}

.em {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}
